@charset "utf-8";
/* CSS Document 

селектор {
	свойство: значение;
}

селектор: h1, p, title, a ...*/

p {
	background:#F96; 
}

h1 {
	background:#C90;
}

/* символ решетка задается для элементов с определенным id для прописания стилей */

# {
	background:#99F;
}

#block {
	background:#96F;
}

/* стили для всех элементов с каким-то классом - используется символ точка .  */

.text {
	background:#CFF;
}

/* смешанные записи */

#block .text2 {
	background:#0C0;
}

/* CSS селекторы */

